@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic);
body {
  width: 100%;
  height: 100%;
  font-family: 'VT323';
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(#e0e0e0, #ffffff);
  background-image: -webkit-linear-gradient(#e0e0e0, #ffffff);
  background-image: linear-gradient(#e0e0e0, #ffffff);
  background-attachment: fixed;
}

#main {
  display: block;
  width: 1280px;
  margin: 0 auto;
}

#help {
  display: block;
  width: 400px;
  margin: 16px auto;
  line-height: 1.2;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #383838;
  background: #F0F0F0;
  padding: 16px;
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
#help > i {
  font-style: italic;
  font-weight: 300;
}
#help > a {
  text-decoration: none;
  color: #AA0000;
}
#help > a:visited {
  color: #880000;
}
#help > a:hover {
  color: #CC0000;
}
#help > hr {
  border: 0;
  height: 1px;
  background: #D0D0D0;
}
#help > del {
  border: 0;
  height: 2px;
  background: #383838;
}

#terminal {
  position: relative;
}

#terminal-frame {
  display: block;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

#terminal-display {
  display: block;
  position: absolute;
  top: 95px;
  left: 155px;
  z-index: 1;
  cursor: text;
}

#terminal-logo {
  display: block;
  position: absolute;
  width: 210px;
  height: 46px;
  top: 503px;
  left: 968px;
  z-index: 200;
  cursor: pointer;
}
