// INFO //
// INFO //

/* Include openpage modules */
@import 'constants';

/* Blocks naming reference:

    +---------------------+
    |  +---------------+  |====> header
    |  |               |  |
    |  |               |=======> header-img
    |  |               |  |
    |  +---------------+  |
    +---------------------+
    |  +------+           |====> logo
    |  |      |================> logo-img
    |  +------+           |
    +---------------------+
    |                     |====> info
    |  +------+ +------+  |
    |  |      | |      |=======> info-date
    |  |      | +------+  |
    |  |      |================> info-intro
    |  |      | +------+  |
    |  |      | |      |=======> info-location
    |  +------+ +------+  |
    +---------------------+
    |                     |====> detail
    |  +------+ +------+  |
    |  |      | |      |=======> detail-prizes
    |  |      | +------+  |
    |  |      |================> detail-info
    |  |      | +------+  |
    |  |      | |      |=======> detail-schedule
    |  +------+ +------+  |
    +---------------------+
    |                     |====> registartion
    +---------------------+
    |                     |====> footer
    +---------------------+
*/

/*----- SECTIONS -------------------------------------------------------------*/
/* Body */
$body-min-width   : $ONE-PARAGRAPH-WIDTH;
$body-font-weight : $NORMAL;
$body-font-family : $SANS-SERIF;
$body-font-size   : $BASE-TEXT;
$body-line-height : $BASE-LINE-HEIGHT;

/* Header */
$header-terminal-width              : $TWO-PARAGRAPHS-WIDTH;
$header-terminal-height             : $HEADER-IMG-HEIGHT;
$header-terminal-canvas-scale       : $TERMINAL-SCREEN-SCALE;
$header-terminal-postit-font-size   : 12pt;
$header-terminal-postit-font-family : $CURSIVE;
$header-terminal-frame-left         : ($HEADER-IMG-WIDTH - $TWO-PARAGRAPHS-WIDTH)/2;
$header-gradient-colors             :
(
    (
        stop  : 10%,
        color : $COFFEE,
    ),
    (
        stop  : 100%,
        color : $CREAM,
    ),
);





/*----- CONSTANTS ------------------------------------------------------------*/
$HEADER-IMG-WIDTH    : 1300px;
$HEADER-IMG-HEIGHT   : 731px;
$DESKTOP-WIDTH       : 960px;
$MOBILE-WIDTH        : 480px;
$HEADER-CANVAS-SCALE : 0.75;



/*----- FONT-SIZES -----------------------------------------------------------*/
$info-intro-font-size       : 13pt;
$info-intro-title-font-size : 32pt;



/*----- DIMENSIONS -----------------------------------------------------------*/
$header-height                    : 700px;
$header-img-top-distance          : 15px;

$logo-height                      : 150px;
$logo-img-bottom-distance         : 28px;

$paragraph-width                  : 445px;

$info-intro-top-bottom-distance   : 50px;
$info-intro-title-bottom-distance : 30px;



/*----- COLORS ---------------------------------------------------------------*/
$text-base-color  : #512417;
$text-other-color : #F0761D;

$header-color-10 : #433934;
$header-color-20 : #FEF6DF;
$footer-gradient-colors:
(
    (
        stop  : 25%,
        color : $header-color-10,
    ),
    (
        stop  : 93%,
        color : $header-color-20,
    ),
);
$header-logo-separator-color : #EF7219;

$info-date-background   : #F9EDD0;
$info-date-border-color : #D7C5AB;

$detail-color-10 : #E9DAB6;
$detail-color-20 : #EDE3C5;
$detail-gradient-colors:
(
    (
        stop  : 0%,
        color : $detail-color-10,
    ),
    (
        stop  : 5%,
        color : $detail-color-20,
    ),
    (
        stop  : 95%,
        color : $detail-color-20,
    ),
    (
        stop  : 100%,
        color : $detail-color-10,
    ),
);
