// INFO //
// INFO //

/*----- COLORS ---------------------------------------------------------------*/
$WHITE      : #FFFFFF; // clear white
$CREAM      : #FEF6DF; // lightest brown
$BUTTER     : #F9EDD0; // very light brown
$CAPPUCCINO : #EDE3C5; // light brown
$PEANUT     : #E9DAB6; // slightly light brown
$MUD        : #D7C5AB; // grayish brown
$CARAMEL    : #DCAA7D; // midtone brown
$CHOCOLATE  : #512417; // dark brown
$COFFEE     : #433934; // darkest brown
$PEACH      : #FADBB7; // light orange
$ORANGE     : #F0761D; // orange

/*----- DIMENSIONS -----------------------------------------------------------*/
$HEADER-IMG-WIDTH     : 1300px;
$HEADER-IMG-HEIGHT    : 731px;
$FOOTER-IMG-WIDTH     : 1500px;
$FOOTER-IMG-HEIGHT    : 428px;

$ONE-PARAGRAPH-WIDTH  : 445px;
$TWO-PARAGRAPHS-WIDTH : 960px;

$MEDIA-MOBILE-MARGIN  : 10px;

/*----- DISTANCES ------------------------------------------------------------*/

/*----- RADIUSES -------------------------------------------------------------*/
$BOX-CORNER   : 10px;
$SMALL-CORNER : 8px;

/*----- SPECIALS -------------------------------------------------------------*/
$TERMINAL-SCREEN-SCALE : 0.75;

/*----- FONTS ----------------------------------------------------------------*/
$SERIF      : 'Source Serif Pro', serif;
$SANS-SERIF : 'Source Sans Pro', sans-serif;
$CURSIVE    : 'Architects Daughter', cursive;

/*----- FONT WEIGHTS ---------------------------------------------------------*/
$EXTRA-LIGHT : 200;
$LIGHT       : 300;
$NORMAL      : 400;
$SEMI-BOLD   : 600;
$BOLD        : 700;

/*----- FONT SIZES -----------------------------------------------------------*/
$EXTRA-TITLE : 50pt;
$MAIN-TITLE  : 32pt;
$SUB-TITLE   : 25pt;
$BASE-TEXT   : 13pt;
$MINI-TEXT   : 10pt;

/*----- FONT SIZES -----------------------------------------------------------*/
$NULL-LINE-HEIGHT : 1;
$BASE-LINE-HEIGHT : 1.2;
$BIG-LINE-HEIGHT  : 1.3;
// $BASE-LETTER-SPACING

/*----- BORDERS --------------------------------------------------------------*/
$HAIRLINE : 1px;
