// INFO //
// INFO //

$_directions:
(
    top    : 'bottom',
    bottom : 'top',
    left   : 'right',
    right  : 'left',
);

/*----------------------------------------------------------------------------*/
@function opposite-direction($direction)
{
    @return map-get($_directions, $direction);
}

/*----------------------------------------------------------------------------*/
@function process-gradient-def($gradient-def)
{
    $arguments: ();
    @each $component in $gradient-def
    {
        $arguments: append($arguments,
                          (
                            map-get($component, color),
                            map-get($component, stop)
                          ),
                          comma);
    }
    @return $arguments;
}
