// INFO //
// INFO //

@import 'compass';

@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic);

$help-font-color: #383838;

body
{
    width: 100%;
    height: 100%;
    font-family : 'VT323';
    @include background-image(linear-gradient(#E0E0E0, #FFFFFF));
    background-attachment: fixed;
}

#main
{
    display : block;
    width   : 1280px;
    margin  : 0 auto;
}

#help
{
    display       : block;
    width         : 400px;
    margin        : 16px auto;
    line-height   : 1.2;
    text-align    : justify;
    font-family   : 'Source Sans Pro', sans-serif;
    font-size     : 12pt;
    font-weight   : 300;
    color         : $help-font-color;
    background    : #F0F0F0;
    padding       : 16px;
    border        : 1px solid #F8F8F8;
    border-radius : 4px;
    box-shadow    : 0 8px 12px rgba(0, 0, 0, 0.1);

    & > i
    {
        font-style  : italic;
        font-weight : 300;
    }

    & > a
    {
        text-decoration: none;
        color : #AA0000;
        &:visited
        {
            color: #880000;
        }
        &:hover
        {
            color: #CC0000;
        }
    }

    & > hr
    {
        border     : 0;
        height     : 1px;
        background : #D0D0D0;
    }

    & > del
    {
        // TODO: for some reason, this is not working.. yet :P
        border     : 0;
        height     : 2px;
        background : $help-font-color;
    }
}

#terminal
{
    position : relative;
}

#terminal-frame
{
    display  : block;
    float    : left;
    z-index  : 999;
    position : absolute;
    top      : 0;
    left     : 0;
}

#terminal-display
{
    display  : block;
    position : absolute;
    top      : 90px;
    left     : 155px;
    z-index  : 1;
}

// @font-face
// {
//     font-family : 'VT323';
//     font-style  : normal;
//     font-weight : normal;
//     src:
// }
