// INFO //
// INFO //

/* Include compass modules */
@import 'compass';

/* Include openpage modules */
@import 'config';
@import 'utils/func';
@import 'utils/mixins';


/*----------------------------------------------------------------------------*/
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);



/*----------------------------------------------------------------------------*/
/* Include Eric Meyer's reset 2.0 Global reset rules */
@include global-reset();



/*----------------------------------------------------------------------------*/
body
{
    width       : 100%;
    height      : 100%;
    min-width   : $body-min-width;
    color       : $body-color;
    font-size   : $body-font-size;
    font-weight : $body-font-weight;
    font-family : $body-font-family;
    line-height : $body-line-height;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    & > div:first-of-type
    {
        display  : block;
        position : relative;
        width    : 100%;
    }
}


/*----------------------------------------------------------------------------*/
/* Include page sections */
@import 'sections/generic';
@import 'sections/header';
@import 'sections/logo';
@import 'sections/info';
@import 'sections/detail';
@import 'sections/registration';
@import 'sections/footer';
