//- INFO //
//- INFO //


//- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
tr
    td
    +padding
    td(width = dims.page.width)
        p
            b Kibu Hackathon Reloaded!
        br
        p 
            | Are you interested in IoT and the world of futuristic gadgets? Are
            | you an entrepreneur, a programmer or a designer?
        br/
        p
            | Join one of our hackathons with the topic of &rdquo;Home, Smart
            | Home&rdquo;!
        br/
        p
            | You can realize your crazy hack ideas in two locations: Budapest
            | and Szeged.
        br/
        p
            | In our 24-hour-long hackathon you can meet inspiring people,
            | listen to exciting presentations and participate in a
            | professionally mentored teamwork. Besides all these great prizes
            | are guaranteed for the winner teams!
        br/
        p
            | The space is limited, so&nbsp;
            a(href   = 'http://hackathon.kibu.hu'
              target = '_blank')
                | register now for free
            |!
        br/
        p
            | If you have further questions, feel free to&nbsp;
            a(href   = 'mailto:hello@kitchenbudapest.hu?' +
                       'subject=Kibu+Hackathon+2015'
              target = '_blank')
                  font(color = colors.orange)
                      | drop us a line
            |.
        br/
        p
            i Cheers,
        br/
        p
            b Kibu Hackathon Team
        p
            font(color = colors.orange)
                a(href   = "http://hackathon.kibu.hu"
                  target = "_blank")
                    font(color = colors.orange)
                        | http://hackathon.kibu.hu
    +padding
    td
