// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';


/*----------------------------------------------------------------------------*/
#detail
{
    display    : table;
    width      : 100%;
    border-top : $detail-border-top-width
                 solid
                 $detail-border-top-color;
    @include box-sizing(border-box);
    @include background-image(
        linear-gradient(to bottom,
                        process-gradient-def($detail-gradient-colors)));


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display       : table;
        width         : $detail-frame-desktop-width;
        margin        : 0
                        auto;
        @include box-sizing(border-box);


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        @media all and (max-width : $detail-frame-mobile-max-width)
        {
            width : $detail-frame-mobile-width;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-apply
        {
            display        : table;
            position       : relative;
            top            : -$detail-border-top-width;
            margin-bottom  : $detail-frame-apply-desktop-margin-bottom;
            padding        : $detail-frame-apply-padding-top-bottom  - $detail-border-top-width
                             $detail-frame-apply-padding-left-right
                             $detail-frame-apply-padding-top-bottom;
            background     : $detail-frame-apply-background;
            color          : $detail-frame-apply-color;
            line-height    : $detail-frame-apply-line-height;
            font-size      : $detail-frame-apply-font-size;
            text-align     : center;
            text-transform : uppercase;
            border-radius  : 0
                             0
                             $detail-frame-apply-border-bottom-left-right-radius
                             $detail-frame-apply-border-bottom-left-right-radius;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            @media all and (max-width : $detail-frame-mobile-max-width)
            {
                margin-left   : $detail-frame-apply-mobile-margin-left;
                margin-bottom : $detail-frame-apply-mobile-margin-bottom;
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-prizes
        {
            position      : relative;
            display       : table;
            width         : 100%;
            padding       : $detail-frame-prizes-padding-top-bottom
                            $detail-frame-prizes-padding-left-right;
            background    : $detail-frame-prizes-background;
            border        : $detail-frame-prizes-border-width
                            solid
                            $detail-frame-prizes-border-color;
            border-radius : $detail-frame-prizes-border-radius;
            @include box-sizing(border-box);


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-head
            {
                display        : table;
                width          : 100%;
                padding-bottom : $detail-frame-prizes-head-padding-bottom;
                margin-bottom  : $detail-frame-prizes-head-margin-bottom;
                border-bottom  : $detail-frame-prizes-head-border-bottom-width
                                 solid
                                 $detail-frame-prizes-head-border-bottom-color;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-title
                {
                    display        : inline-block;
                    line-height    : $detail-frame-prizes-head-title-line-height;
                    letter-spacing : $detail-frame-prizes-head-title-letter-spacing;
                    margin-left    : $detail-frame-prizes-head-title-margin-left;
                    text-transform : uppercase;


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & > span:first-of-type
                    {
                        font-size   : $detail-frame-prizes-head-title-1stspan-font-size;
                        font-weight : $detail-frame-prizes-head-title-1stspan-font-weight;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & > span:last-of-type
                    {
                        font-size   : $detail-frame-prizes-head-title-2ndspan-font-size;
                        font-weight : $detail-frame-prizes-head-title-2ndspan-font-weight;
                    }
                }
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-info
            {
                width         : 100%;
                padding-left  : $detail-frame-prizes-info-padding-left;
                padding-right : $detail-frame-prizes-info-padding-right;
                @include box-sizing(border-box);
            }
        }

        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-schedule
        {
            display       : table;
            position      : relative;
            width         : 100%;
            margin        : $detail-frame-schedule-margin-top
                            0
                            $detail-frame-schedule-margin-bottom;
            padding       : $detail-frame-schedule-padding-top
                            $detail-frame-schedule-padding-bottom;
            background    : $detail-frame-schedule-background;
            border-radius : $detail-frame-schedule-border-radius;
            @include box-sizing(border-box);


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-head
            {
                width          : 100%;
                color          : $detail-frame-schedule-head-color;
                text-transform : uppercase;
                line-height    : $detail-frame-schedule-head-line-height;
                letter-spacing : $detail-frame-schedule-head-letter-spacing;
                border-bottom  : $detail-frame-schedule-head-border-bottom-width
                                 solid
                                 $detail-frame-schedule-head-border-bottom-color;
                padding-bottom : $detail-frame-schedule-head-padding-bottom;
                margin-bottom  : $detail-frame-schedule-head-margin-bottom;
                @include box-sizing(border-box);


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span:first-of-type
                {
                    font-size   : $detail-frame-schedule-head-1stspan-font-size;
                    font-weight : $detail-frame-schedule-head-1stspan-font-weight;
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span:last-of-type
                {
                    font-size   : $detail-frame-schedule-head-2ndspan-font-size;
                    font-weight : $detail-frame-schedule-head-2ndspan-font-weight;
                }
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-spec
            {
                padding     : $detail-frame-schedule-spec-padding-top
                              0
                              $detail-frame-schedule-spec-padding-bottom;
                font-size   : $detail-frame-schedule-spec-font-size;
                font-weight : $detail-frame-schedule-spec-font-weight;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &::before
                {
                    display        : inline-block;
                    position       : relative;
                    width          : $detail-frame-schedule-spec-separator-width;
                    content        : '';
                    vertical-align : middle;
                    margin-right   : $detail-frame-schedule-spec-separator-margin-right;
                    border-bottom  : $detail-frame-schedule-spec-separator-border-bottom-width
                                     solid
                                     $detail-frame-schedule-spec-separator-border-bottom-color;
                }
            }
        }
    }
}



/*----------------------------------------------------------------------------*/
.detail-frame-info
{
    margin-bottom : $detail-frame-info-margin-bottom;
    text-align    : justify;
    font-family   : $detail-frame-info-font-family;
    line-height   : $detail-frame-info-line-height;
    font-size     : $detail-frame-info-font-size;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    & > div:first-child
    {
        margin-bottom  : $detail-frame-info-title-margin-bottom;
        font-family    : $detail-frame-info-title-font-family;
        font-size      : $detail-frame-info-title-font-size;
        font-weight    : $detail-frame-info-title-font-weight;
        text-align     : left;
        line-height    : $detail-frame-info-title-line-height;
        letter-spacing : $detail-frame-info-title-letter-spacing;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &::after
        {
            display    : block;
            position   : relative;
            left       : 0;
            bottom     : $detail-frame-info-title-underline-bottom;
            width      : $detail-frame-info-title-underline-width;
            content    : '';
            border-top : $detail-frame-info-title-underline-border-top-width
                         solid
                         $detail-frame-info-title-underline-border-top-color;
        }
    }
}


/*----------------------------------------------------------------------------*/
.detail-frame-prizes-info-text
{
    padding-bottom : $detail-frame-prizes-info-text-padding-bottom;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    & > div:first-child
    {
        padding-bottom : $detail-frame-prizes-info-text-title-padding-bottom;
        color          : $detail-frame-prizes-info-text-title-color;
        font-size      : $detail-frame-prizes-info-text-title-font-size;
        font-weight    : $detail-frame-prizes-info-text-title-font-weight;
        line-height    : $detail-frame-prizes-info-text-title-line-height;
        text-transform : uppercase;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &::before
        {
            position   : relative;
            display    : block;
            top        : $detail-frame-prizes-info-text-title-indicator-top;
            left       : $detail-frame-prizes-info-text-title-indicator-left;
            width      : $detail-frame-prizes-info-text-title-indicator-width;
            height     : $detail-frame-prizes-info-text-title-indicator-width;
            content    : '';
            background : $detail-frame-prizes-info-text-title-indicator-background;
        }
    }
}


/*----------------------------------------------------------------------------*/
.detail-frame-schedule-timing
{
    margin-bottom : $detail-frame-schedule-timing-margin-bottom;
    font-size     : $detail-frame-schedule-timing-font-size;
    font-weight   : $detail-frame-schedule-timing-font-weight;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    & > span:first-child
    {
        margin-right : $detail-frame-schedule-timing-time-margin-right;
        font-weight  : $detail-frame-schedule-timing-time-font-weight;
        color        : $detail-frame-schedule-timing-time-color;
    }
}


/*----------------------------------------------------------------------------*/
.detail-frame-schedule-timing-spec
{
    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    & > span:first-child
    {
        border-bottom : $detail-frame-schedule-timing-spec-time-border-bottom-width
                        solid
                        $detail-frame-schedule-timing-spec-time-border-bottom-color;
    }


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    & > span:last-child
    {
        border-bottom : $detail-frame-schedule-timing-spec-text-border-bottom-width
                        solid
                        $detail-frame-schedule-timing-spec-text-border-bottom-color;
    }
}
