// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';


/*----------------------------------------------------------------------------*/
#footer
{
    display    : table;
    position   : relative;
    width      : 100%;
    border-top : $footer-border-top-width
                 solid
                 $footer-border-top-color;
    @include box-sizing(border-box);
    @include background-image(
        linear-gradient(to bottom,
                        process-gradient-def($footer-desktop-gradient-colors)));

    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    @media all and (max-width : $footer-frame-mobile-max-width)
    {
        @include background-image(
            linear-gradient(to bottom,
                            process-gradient-def($footer-mobile-gradient-colors)));
    }


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display     : table;
        position    : relative;
        width       : $footer-frame-desktop-width;
        margin      : 0
                      auto;
        padding-top : $footer-frame-padding-top;
        color       : $footer-frame-color;
        font-size   : $footer-frame-font-size;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        @media all and (max-width : $footer-frame-mobile-max-width)
        {
            width : $footer-frame-mobile-width;
            padding-bottom : $footer-frame-padding-top;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-title
        {
            width          : 100%;
            margin-bottom  : $footer-frame-title-margin-bottom ;
            padding-bottom : $footer-frame-title-padding-bottom;
            border-bottom  : $footer-frame-title-border-bottom-width
                             solid
                             $footer-frame-title-border-bottom-color;
            font-size      : $footer-frame-title-font-size;
            font-weight    : $footer-frame-title-font-weight;
            letter-spacing : $footer-frame-title-letter-spacing;
            text-transform : uppercase;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-links
        {
            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & a,
            & a:hover,
            & a:visited
            {
                display : block;
                margin  : none;
                padding : none;
                border  : none;
                color   : $footer-frame-links-color;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & a::before
            {
                display      : inline-block;
                position     : relative;
                bottom       : $footer-frame-links-indicator-bottom;
                width        : $footer-frame-links-indicator-width;
                height       : $footer-frame-links-indicator-width;
                margin-left  : $footer-frame-links-indicator-margin-left;
                margin-right : $footer-frame-links-indicator-margin-right;
                content      : '';
                background   : $footer-frame-links-indicator-background;
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-info
        {
            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & a,
            & a:hover,
            & a:visited
            {
                border  : none;
                margin  : none;
                padding : none;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > a:first-of-type
            {
                display       : table;
                margin-top    : $footer-frame-info-logo-desktop-margin-top;
                margin-bottom : $footer-frame-info-logo-margin-bottom;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                @media all and (max-width : $footer-frame-mobile-max-width)
                {
                    margin-top : $footer-frame-info-logo-mobile-margin-top;
                }
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > p:first-of-type
            {
                color :$footer-frame-info-text-spec-color;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > div:last-of-type
            {
                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > a:not(:first-of-type)
                {
                    display     : inline-block;
                    margin-top  : $footer-frame-info-social-margin-top;
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > a:nth-child(2)
                {
                    margin-left : $footer-frame-info-social-margin-left;
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > a:nth-child(n+3)
                {
                    margin-left : $footer-frame-info-logo-margin-left;
                }
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        & > div:last-of-type
        {
            display      : table;
            margin-left  : -$footer-frame-img-left;
            margin-right : -$footer-frame-img-left;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            @media all and (max-width : $footer-frame-mobile-max-width)
            {
                display : none;
            }
        }
    }
}
