// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/mixins';


/*----------------------------------------------------------------------------*/
.paragraph-1,
.paragraph-2
{
    position : relative;
    left     : 0;
    width    : $paragraph-width;
    margin   : $paragraph-margin;
    @include box-sizing(border-box);
}


/*----------------------------------------------------------------------------*/
.paragraph-1
{
    @include media-desktop-paragraph(left, $paragraph-media-desktop-width);
}



/*----------------------------------------------------------------------------*/
.paragraph-2
{
    @include media-desktop-paragraph(right, $paragraph-media-desktop-width);
}


/*----------------------------------------------------------------------------*/
.paragraph-2-spec
{
    $-shift: -170px;
    top           : $-shift;
    margin-bottom : $-shift;
}
