// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';


/*----------------------------------------------------------------------------*/
.paragraph-1,
.paragraph-2
{
    display  : table;
    width    : $paragraph-width;
    margin   : 0;
    @include box-sizing(border-box);


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    @media all and (max-width : $paragraph-media-mobile-width)
    {
        margin  : 0
                  $paragraph-media-mobile-margin-left-right ;
    }
}


/*----------------------------------------------------------------------------*/
.paragraph-1
{
    float : left;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    @media all and (max-width : $paragraph-media-mobile-width)
    {
        float : none;
    }
}



/*----------------------------------------------------------------------------*/
.paragraph-2
{
    float : right;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    @media all and (max-width : $paragraph-media-mobile-width)
    {
        float : none;
    }
}


/*----------------------------------------------------------------------------*/
.paragraph-2-spec
{
    $-shift       : -170px;
    position      : relative;
    top           : $-shift;
    margin-bottom : $-shift;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    @media all and (max-width : $paragraph-media-mobile-width)
    {
        margin-top : 25px;
    }
}
