// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';
@import '../utils/mixins';


$_paragraph-margin: 10px;
/*----------------------------------------------------------------------------*/
.paragraph-1,
.paragraph-2
{
    left     : 0;
    position : relative;
    width    : $paragraph-width;
}


/*----------------------------------------------------------------------------*/
.paragraph-1
{
    @include media-desktop-paragraph(left, $DESKTOP-WIDTH);
    margin  : 10px;
    padding : 0;
    @include box-sizing(border-box);
}



/*----------------------------------------------------------------------------*/
.paragraph-2
{
    @include media-desktop-paragraph(right, $DESKTOP-WIDTH);
    margin  : 10px;
    padding : 0;
    @include box-sizing(border-box);
}


/*----------------------------------------------------------------------------*/
.paragraph-2-spec
{
    top : -170px;
    margin-bottom: -170px;
}
