// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';


/*----------------------------------------------------------------------------*/
#header
{
    display : table;
    width   : 100%;
    @include background-image(
        linear-gradient(to bottom,
                        process-gradient-def($header-gradient-colors)));


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    @media all and (max-width : $header-media-mobile-max-width)
    {
        display : none;
    }


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-terminal
    {
        display  : block;
        position : relative;
        top      : 0;
        left     : 0;
        width    : $header-terminal-width;
        height   : $header-terminal-height;
        margin   : 0 auto;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-display,
        &-frame,
        &-logo,
        &-clicker,
        &-postit
        {
            position : absolute;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-display
        {
            z-index  : 100;
            top      : 89px;
            left     : 117px;
            @include transform-origin(0, 0);
            @include scale($header-terminal-canvas-scale);
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-frame
        {
            z-index  : 200;
            top      : 0;
            left     : -$header-terminal-frame-left;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-logo
        {
            z-index  : 300;
            top      : 393px;
            left     : 715px;
            width    : 151px;
            height   : 33px;
            cursor   : pointer;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-clicker
        {
            z-index  : 400;
            top      : 85px;
            left     : 110px;
            width    : 525px;
            height   : 360px;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-postit
        {
            z-index        : 500;
            width          : 140px;
            top            : 165px;
            left           : 738px;
            font-size      : $header-terminal-postit-font-size;
            font-family    : $header-terminal-postit-font-family;
            @include rotate(-10.5deg);


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            // & > p > a
            // {
            //     text-decoration: none;
            //     color : #AA0000;
            //     &:visited
            //     {
            //         color : #880000;
            //     }
            //     &:hover
            //     {
            //         color : #CC0000;
            //     }
            // }
        }
    }
}
