// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';


/*----------------------------------------------------------------------------*/
#info
{
    display       : table;
    width         : 100%;
    background    : $info-background;
    border-bottom : $info-border-bottom-width
                    solid
                    $info-border-bottom-color;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display  : table;
        width    : $info-frame-desktop-width;
        margin   : 0
                   auto;
        padding  : $info-frame-padding-top
                   0
                   $info-frame-desktop-padding-bottom;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        @media all and (max-width : $info-frame-mobile-max-width)
        {
            width          : $info-frame-mobile-width;
            padding-bottom : $info-frame-padding-top;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-intro
        {
            text-align  : justify;
            line-height : $info-frame-intro-line-height;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-title
            {
                text-transform : uppercase;
                line-height    : $info-frame-intro-title-line-height;
                font-size      : $info-frame-intro-title-font-size;
                font-weight    : $info-frame-intro-title-font-weight;
                padding-bottom : $info-frame-intro-title-padding-bottom;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-summary
            {
                font-weight : $info-frame-intro-summary-font-weight;
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-info
        {
            display : table;
            margin  : $info-frame-info-margin-top
                      0
                      $info-frame-info-margin-bottom;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            @media all and (max-width : $info-frame-info-media-mobile-max-width)
            {
                margin : $info-frame-info-margin-bottom
                         0;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-box
            {
                display        : table;
                position       : relative;
                width          : $info-frame-info-box-width;
                background     : $info-frame-info-box-background;
                border-radius  : $info-frame-info-box-border-radius;
                border         : $info-frame-info-box-border-width
                                 solid
                                 $info-frame-info-box-border-color;
                text-transform : uppercase;
                font-weight    : $info-frame-info-box-font-weight;
                @include box-sizing(border-box);


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-arrow
                {
                    margin : $info-frame-info-box-arrow-margin;
                    @include box-sizing(border-box);


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &-up,
                    &-down
                    {
                        position       : relative;
                        padding-top    : 15px;
                        padding-bottom : 15px;
                        border         : $info-frame-info-box-arrow-updown-border-width
                                         solid
                                         $info-frame-info-box-arrow-updown-border-color;
                        @include box-sizing(border-box);


                        /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
                        /* Locations */
                        & > div:first-of-type
                        {
                            display     : table;
                            line-height : $info-frame-info-box-arrow-updown-line-height;


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Location */
                            & > p:nth-child(1)
                            {
                                text-transform : uppercase;
                                font-size      : $info-frame-info-box-arrow-updown-location-font-size;
                                font-weight    : $info-frame-info-box-arrow-updown-location-font-weight;
                            }


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Month */
                            & > p:nth-child(2)
                            {
                                color     : $info-frame-info-box-arrow-updown-month-color;
                                font-size : $info-frame-info-box-arrow-updown-month-font-size;
                            }


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Place */
                            & > p:nth-child(3)
                            {
                                text-transform : uppercase;
                                font-size      : $info-frame-info-box-arrow-updown-place-font-size;
                                font-weight    : $info-frame-info-box-arrow-updown-place-font-weight;
                            }


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Address */
                            & > p:nth-child(4)
                            {
                                text-transform : none;
                                font-size      : $info-frame-info-box-arrow-updown-address-font-size;
                                font-weight    : $info-frame-info-box-arrow-updown-address-font-weight;
                            }
                        }


                        /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
                        /* Date-time */
                        & > div:last-of-type
                        {
                            position      : absolute;
                            top           : 5px;
                            right         : 0;
                            padding-right : $info-frame-info-box-arrow-padding;


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            & > p
                            {
                                /*- - - - - - - - - - - - - - - - - - - - - - */
                                /* Day */
                                & > span:first-of-type
                                {
                                    font-size   : $info-frame-info-box-arrow-updown-day-font-size;
                                    line-height : $info-frame-info-box-arrow-updown-day-line-height;
                                }


                                /*- - - - - - - - - - - - - - - - - - - - - - */
                                /* Time */
                                & > span:last-of-type
                                {
                                    vertical-align : top;
                                    display        : inline-block;
                                    width          : 45px;
                                    font-size      : 10pt;
                                    border-bottom  : $info-frame-info-box-arrow-updown-time-border-bottom-width
                                                     solid
                                                     $info-frame-info-box-arrow-updown-time-border-bottom-color;
                                    text-align     : right;
                                    padding        : 8px 0 2px;
                                    margin-left    : 8px;
                                }
                            }


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Decoration line */
                            &::before
                            {
                                content    : '';
                                position   : absolute;
                                top        : 45%;
                                left       : -($info-frame-info-box-arrow-updown-daytime-before-width + 10px);
                                width      : $info-frame-info-box-arrow-updown-daytime-before-width;
                                border-top : $info-frame-info-box-arrow-updown-daytime-before-border-top-width
                                             solid
                                             $info-frame-info-box-arrow-updown-daytime-before-border-top-color;
                            }


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Start date-time */
                            & > p:first-of-type
                            {
                                color : $info-frame-info-box-arrow-updown-day-start-color;
                            }


                            /*- - - - - - - - - - - - - - - - - - - - - - - - */
                            /* Stop date-time */
                            & > p:last-of-type
                            {
                                position : relative;
                                top      : -10px;
                            }
                        }
                    }

                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &-up
                    {
                        padding-left  : 14px;
                        margin-right  : $info-frame-info-box-arrow-updown-border-radius;
                        border-radius : $info-frame-info-box-arrow-updown-border-radius
                                        0
                                        0
                                        $info-frame-info-box-arrow-updown-border-radius;
                        border-right  : none;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &-down
                    {
                        padding-left  : 10px;
                        top           : -$info-frame-info-box-arrow-updown-border-width;
                        margin-left   : $info-frame-info-box-arrow-updown-border-radius;
                        margin-bottom : (($info-frame-info-box-arrow-updown-tip-border-right-width -
                                          $info-frame-info-box-arrow-updown-border-width)/2)*-1;
                        border-radius : 0
                                        $info-frame-info-box-arrow-updown-border-radius
                                        $info-frame-info-box-arrow-updown-border-radius
                                        0;
                        border-left   : none;


                        /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
                        &::before
                        {
                            position      : absolute;
                            bottom        : -8px;
                            left          : -3px;
                            width         : 0;
                            height        : 0;
                            content       : '';
                            border-top    : $info-frame-info-box-arrow-updown-tip-border-top-width
                                            solid
                                            transparent;
                        	border-bottom : $info-frame-info-box-arrow-updown-tip-border-bottom-width
                                            solid
                                            transparent;
                        	border-right  : $info-frame-info-box-arrow-updown-tip-border-right-width
                                            solid
                                            $info-frame-info-box-arrow-updown-tip-border-color;
                        }
                    }
                }
            }
        }
    }
}



/*----------------------------------------------------------------------------*/
.info-intro-subtitle
{
    line-height   : $info-intro-subtitle-line-height;
    font-weight   : $info-intro-subtitle-font-weight;
    margin-bottom : $info-intro-subtitle-margin-bottom;
}
