// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';


/*----------------------------------------------------------------------------*/
#info
{
    display       : table;
    width         : 100%;
    background    : $info-background;
    border-bottom : $info-border-bottom-width
                    solid
                    $info-border-bottom-color;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display  : table;
        width    : $info-frame-desktop-width;
        margin   : 0
                   auto;
        padding  : $info-frame-padding-top
                   0
                   $info-frame-desktop-padding-bottom;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        @media all and (max-width : $info-frame-mobile-max-width)
        {
            width          : $info-frame-mobile-width;
            padding-bottom : $info-frame-padding-top;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-intro
        {
            text-align  : justify;
            line-height : $info-frame-intro-line-height;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-title
            {
                text-transform : uppercase;
                line-height    : $info-frame-intro-title-line-height;
                font-size      : $info-frame-intro-title-font-size;
                font-weight    : $info-frame-intro-title-font-weight;
                padding-bottom : $info-frame-intro-title-padding-bottom;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-summary
            {
                font-weight : $info-frame-intro-summary-font-weight;
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-date
        {
            display : table;
            margin  : $info-frame-date-margin-top
                      0
                      $info-frame-date-margin-bottom;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            @media all and (max-width : $info-frame-date-media-mobile-max-width)
            {
                margin : $info-frame-date-margin-bottom
                         0;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-box
            {
                display        : table;
                position       : relative;
                width          : $info-frame-date-box-width;
                background     : $info-frame-date-box-background;
                border-radius  : $info-frame-date-box-border-radius;
                border         : $info-frame-date-box-border-width
                                 solid
                                 $info-frame-date-box-border-color;
                text-transform : uppercase;
                font-weight    : $info-frame-date-box-font-weight;
                @include box-sizing(border-box);


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-arrow
                {
                    position           : relative;
                    width              : $info-frame-date-box-arrow-width;
                    margin             : $info-frame-date-box-arrow-margin;
                    padding            : $info-frame-date-box-arrow-padding;
                    border             : $info-frame-date-box-arrow-border-width
                                         solid
                                         $info-frame-date-box-arrow-border-color;
                    border-right       : none;
                    border-radius      : $info-frame-date-box-arrow-border-radius
                                         0
                                         0
                                         $info-frame-date-box-arrow-border-radius;
                    @include box-sizing(border-box);


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &::after
                    {
                        position      : absolute;
                        bottom        : -8px;
                        right         : -3px;
                        width         : 0;
                        height        : 0;
                        content       : '';
                        border-top    : $info-frame-date-box-arrow-tip-border-top-width
                                        solid
                                        transparent;
                    	border-bottom : $info-frame-date-box-arrow-tip-border-bottom-width
                                        solid
                                        transparent;
                    	border-left   : $info-frame-date-box-arrow-tip-border-left-width
                                        solid
                                        $info-frame-date-box-arrow-tip-border-color;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &-month
                    {
                        margin    : $info-frame-date-box-arrow-month-margin-top-bottom
                                    0;
                        color     : $info-frame-date-box-arrow-month-color;
                        font-size : $info-frame-date-box-arrow-month-font-size;


                        /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
                        &::after
                        {
                            position   : absolute;
                            top        : 50%;
                            right      : 0;
                            content    : '';
                            width      : $info-frame-date-box-arrow-month-after-width;
                            border-top : $info-frame-date-box-arrow-month-after-border-top-width
                                         solid
                                         $info-frame-date-box-arrow-month-after-border-top-color;
                        }
                    }
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-numbers
                {
                    position    : absolute;
                    top         : $info-frame-date-box-numbers-top;
                    right       : 0;


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & > div:first-of-type
                    {
                        margin-top  : -11px;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & > div:last-of-type
                    {
                        margin-top  : -16px;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & > div
                    {
                        margin-right: 14px;
                        margin-left : -10px;
                        line-height : $info-frame-date-box-numbers-day-line-height;
                        font-size   : $info-frame-date-box-numbers-day-font-size;


                        /*- - - - - - - - - - - - - - - - - - - - - - - - - - */
                        & > span:last-of-type
                        {
                            vertical-align : top;
                            display        : inline-block;
                            width          : 45px;
                            font-size      : 10pt;
                            border-bottom  : $info-frame-date-box-numbers-time-border-bottom-width
                                             solid
                                             $info-frame-date-box-numbers-time-border-bottom-color;
                            text-align     : right;
                            padding        : 11px 0 2px;
                            margin-left    : -15px;
                        }
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &-start
                    {
                        color: $info-frame-date-box-numbers-start-color;
                    }
                }
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-location
        {
            display : table;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > span:first-of-type
            {
                display        : inline-block;
                vertical-align : top;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &::after
                {
                    display        : inline-block;
                    vertical-align : middle;
                    content        : '';
                    width          : $info-frame-location-separator-width ;
                    margin         : 0
                                     $info-frame-location-separator-margin-left-right;
                    border-bottom  : $info-frame-location-separator-border-bottom-width
                                     solid
                                     $info-frame-location-separator-border-bottom-color;
                }
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > div:first-of-type
            {
                display   : inline-block;
                font-size : $info-frame-location-address-font-size;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > p:first-of-type
                {
                    text-transform : uppercase;
                    font-size      : $info-frame-location-name-font-size;
                    font-weight    : $info-frame-location-name-font-weight;
                    margin         : -6px 0 3px;
                }
            }
        }
    }
}



/*----------------------------------------------------------------------------*/
.info-intro-subtitle
{
    line-height   : $info-intro-subtitle-line-height;
    font-weight   : $info-intro-subtitle-font-weight;
    margin-bottom : $info-intro-subtitle-margin-bottom;
}
