// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';


/*----------------------------------------------------------------------------*/
#logo
{
    display    : table;
    width      : 100%;
    background : $logo-background;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display       : table;
        width         : $logo-frame-desktop-width;
        margin        : 0
                        auto;
        border-bottom : $logo-frame-border-bottom-width
                        solid
                        $logo-frame-border-bottom-color;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        @media all and (max-width : $logo-frame-mobile-max-width)
        {
            width : $logo-frame-mobile-width;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-img
        {
            display : block;
            margin  : $logo-frame-img-margin-top-bottom
                      0;
        }
    }
}
