// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';


/*----------------------------------------------------------------------------*/
#logo
{
    display    : table;
    width      : 100%;
    background : $logo-background;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display       : table;
        width         : $logo-frame-width;
        margin        : 0 auto;
        border-bottom : 1px solid $logo-frame-border-bottom;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-img
        {
            display : block;
            margin  : $logo-frame-img-margin-top-bottom 0;
        }
    }
}
