// INFO //
// INFO //

/* Include compass moduless */
@import 'compass';

/* Include openpage modules */
@import '../config';
@import '../utils/func';


/*----------------------------------------------------------------------------*/
#registration
{
    display       : table;
    position      : relative;
    width         : 100%;
    background    : $registration-background;
    border-bottom : $registration-border-bottom-width
                    solid
                    $registration-border-bottom-color;


    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    &-frame
    {
        display  : table;
        position : relative;
        width    : $registration-frame-desktop-width;
        margin   : 0
                   auto;
        padding  : $registration-frame-padding-top-bottom
                   0;


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        @media all and (max-width : $registration-frame-mobile-max-width)
        {
            width : $registration-frame-mobile-width;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-title
        {
            padding-bottom : $registration-frame-title-padding-bottom;
            color          : $registration-frame-title-color;
            text-transform : uppercase;
            font-weight    : $registration-frame-title-font-weight;
            font-size      : $registration-frame-title-font-size;
            letter-spacing : $registration-frame-title-letter-spacing;
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-error
        {
            display : table;
            clear   : both;
            width   : 100%;
            @include box-sizing(border-box);


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            @media all and (max-width : $registration-frame-mobile-max-width)
            {
                width       : $registration-frame-error-mobile-width;
                margin-left : $registration-frame-error-mobile-margin-left;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-frame
            {
                width          : 100%;
                margin-top     : $registration-frame-error-frame-margin-top;
                padding        : $registration-frame-error-frame-padding;
                background     : $registration-frame-error-frame-background;
                border-radius  : $registration-frame-error-frame-border-radius;
                @include box-sizing(border-box);

            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-role
        {
            margin-bottom : $registration-frame-role-margin-bottom;
            background    : $registration-frame-role-background;
            border-radius : $registration-frame-role-border-radius;
            border        : $registration-frame-role-border-width
                            solid
                            $registration-frame-role-border-color;
            font-size     : $registration-frame-role-font-size;
            @include box-sizing(border-box);


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-frame
            {
                position : relative;
                top      : 0;
                left     : 0;
                width    : 100%;
                height   : 100%;
                padding  : $registration-frame-role-frame-padding-top-bottom
                           $registration-frame-role-frame-padding-left-right;
                @include box-sizing(border-box);


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span
                {
                    color : $registration-frame-role-frame-title-color;
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &::before,
                &::after
                {
                    position : absolute;
                    content  : '';
                    width    : 0;
                    height   : 0;
                    left     : 100%;
                    top      : 50%;
                    border   : solid
                               transparent;


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    @media all and (max-width: $registration-frame-mobile-max-width)
                    {
                        display : none;
                    }
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &::before
                {
                    border-left-color : $registration-frame-role-frame-arrow-border-color;
                    border-width      : ($registration-frame-role-frame-arrow-height +
                                         $registration-frame-role-frame-arrow-border-width);
                    margin-top        : -($registration-frame-role-frame-arrow-height +
                                          $registration-frame-role-frame-arrow-border-width);
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &::after
                {
                    border-left-color : $registration-frame-role-frame-arrow-background;
                    margin-left       : -$registration-frame-role-frame-arrow-border-width;
                    border-width      : $registration-frame-role-frame-arrow-height;
                    margin-top        : -$registration-frame-role-frame-arrow-height;
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > input[type='radio']
                {
                    display : none;


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & + label
                    {
                        margin-left : $registration-frame-role-frame-label-margin-left;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & + label > span
                    {
                        display       : inline-block;
                        width         : 16px;
                        height        : 16px;
                        margin-left   : $registration-frame-role-frame-radio-margin-left;
                        margin-bottom : $registration-frame-role-frame-radio-margin-bottom;
                        cursor        : pointer;
                        border-radius : 50%;
                        background    : $registration-frame-role-frame-radio-background;
                        border        : $registration-frame-role-frame-radio-border-width
                                        solid
                                        $registration-frame-role-frame-radio-border-color;
                    }


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    &:checked + label > span::after
                    {
                        display       : block;
                        position      : relative;
                        top           : $registration-frame-role-frame-radio-checker-top;
                        left          : $registration-frame-role-frame-radio-checker-top;
                        width         : $registration-frame-role-frame-radio-checker-width;
                        height        : $registration-frame-role-frame-radio-checker-width;
                        content       : '';
                        border-radius : 50%;
                        background    : $registration-frame-role-frame-radio-checker-color;
                    }
                }
            }
        }

        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-info
        {
            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            & > p
            {
                margin-bottom: $registration-frame-info-p-margin-bottom;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span
                {
                    font-weight : $registration-frame-info-bold-font-weight;
                }
            }
        }


        /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
        &-data
        {
            font-size : $registration-frame-data-font-size;


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-name
            {
                margin-bottom : $registration-frame-data-name-margin-bottom;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-mail
            {
                margin-bottom: $registration-frame-data-mail-margin-bottom;
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-name,
            &-mail
            {
                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > div,
                & > span
                {
                    display : block;
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > div
                {
                    float : left;


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & span:first-child
                    {
                        color : $registration-frame-data-name-mail-spec-color;
                    }
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > span
                {
                    padding-left : $registration-frame-data-name-mail-input-padding-left;
                    overflow     : hidden;
                }
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-name,
            &-mail,
            &-lang-frame
            {
                width         : 100%;
                border-radius : $registration-frame-data-name-mail-lang-frame-border-radius;
                border        : $registration-frame-data-name-mail-lang-frame-border-width
                                solid
                                $registration-frame-data-name-mail-lang-frame-border-color;
                background    : $registration-frame-data-name-mail-lang-frame-background;
                padding       : $registration-frame-data-name-mail-lang-frame-padding;
                overflow      : hidden;
                @include box-sizing(border-box);


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & *,
                & *:focus
                {
                    outline : none;
                    border  : none;
                    @include box-shadow(none);
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-input
                {
                    width       : 100%;
                    padding     : 0;
                    border      : none;
                    background  : $registration-frame-data-name-mail-lang-frame-input-background;
                    color       : $registration-frame-data-name-mail-lang-frame-input-color;
                    font-weight : $registration-frame-data-name-mail-lang-frame-input-font-weight;
                    font-size   : $registration-frame-data-name-mail-lang-frame-input-font-size;
                    line-height : $registration-frame-data-name-mail-lang-frame-input-line-height;
                }
            }


            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-lang
            {
                margin-bottom : $registration-frame-data-lang-margin-bottom;


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & > div:first-child
                {
                    margin-bottom : $registration-frame-data-lang-label-margin-bottom;


                    /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                    & > span:first-child
                    {
                        color          : $registration-frame-data-lang-label-spec-color;
                        font-size      : $registration-frame-data-lang-label-spec-font-size;
                        vertical-align : super;
                    }
                }


                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-frame-input
                {
                    max-width     : 100%;
                    min-width     : 100%;
                    min-height    : $registration-frame-data-lang-label-frame-input-min-height;
                    background    : $registration-frame-data-lang-label-frame-input-background;
                    resize        : vertical;
                    overflow      : hidden;
                    outline       : none;
                    @include box-sizing(border-box);
                }
            }

            /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
            &-send
            {
                display  : table;
                position : relative;
                width    : 100%;
                cursor   : pointer;

                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                & div:first-child
                {
                    float     : left;
                    position  : absolute;
                    // HACK: Figure out how to align it vertically to the middle
                    top       : 30%;
                    font-size : $registration-frame-data-send-label-font-size;
                }

                /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
                &-button
                {
                    float          : right;
                    background     : $registration-frame-data-send-button-background;
                    padding        : $registration-frame-data-send-button-padding-top-bottom
                                     $registration-frame-data-send-button-padding-left-right;
                    border-radius  : $registration-frame-data-send-button-border-radius;
                    text-transform : uppercase;
                    color          : $registration-frame-data-send-button-color;
                    font-size      : $registration-frame-data-send-button-font-size;
                    font-weight    : $registration-frame-data-send-button-font-weight;
                }
            }
        }
    }
}
