// INFO //
// INFO //

@import 'func';

/*----------------------------------------------------------------------------*/
@mixin media-desktop-paragraph($direction,
                               $min-width)
{
    $opposite: opposite-direction($direction);
    @media all and (min-width: $min-width)
    {
        display : block;
        float   : $direction;
        margin  : 0;
    }
}
