*
{
    margin         : 0;
    padding        : 0;
    border         : 0;
    line-height    : 1;
}

html, body, span, p, b, i, a, img, table, tr, td, thead, tbody, tfoot
{
    vertical-align : baseline;
}

table
{
    border-collapse : collapse;
    border-spacing  : 0;
}

a
{
    text-decoration : none;
}
